<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>framed-mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDB703D91BB442EF00046575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDB703EF1BB442EF00046575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDB703FA1BB442EF00046575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
